<header id="header">
  <a class="logo" href="index.html">P2P</a>
  <nav *ngIf="showMenu">
    <a [matMenuTriggerFor]="menu">
      <i class="fa fa-bars" aria-hidden="true"></i>
      Menu
    </a>
    <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
    <mat-menu #menu="matMenu">
      <a mat-menu-item *ngIf="listarEmpresas" href="empresas">Listar Empresas</a>
      <a mat-menu-item *ngIf="listarDocumentosEnviados" href="documento">Listar Documentos Enviados</a>
    </mat-menu>

  </nav>
</header>

<!-- Heading -->
<div id="heading" >
  <h1>{{ txtHeader}}</h1>
</div>