<app-header [showMenu]="true" [txtHeader]="'Documentos Recibidos'"></app-header>

<div class="content">
  <div class="row justify-content-center">

    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <!-- <button style="float: right; margin-right: 10px;" class="btn btn-primary"
            (click)="btnNuevo()">Subir Archivo</button> -->
        </div>
      </div>

      <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>

    </div> 
  </div>
</div>
  
<app-footer></app-footer>