<!-- Header -->
<app-header [showMenu]="false" [txtHeader]="'Bienvenido'"></app-header>

<!-- Main -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <form [formGroup]="loginForm" (ngSubmit)="validateUser()" #ngForm="ngForm">
        <header>
          <h2>Login</h2>
        </header>
        
        <div class="form-group">
          <label for="user">Usuario</label>
          <input type="text" name="username" formControlName="username" id="user" [ngClass]="{'is-invalid': ngForm.submitted && !IsValid('username')}">
          <div class="invalid-feedback">
              Campo obligatorio
          </div>
        </div>
        
        <div class="form-group">
          <label for="password">Clave</label>
          <input type="password" name="password" formControlName="password" id="password" [ngClass]="{'is-invalid': ngForm.submitted && !IsValid('password')}">
          <div class="invalid-feedback">
              Campo obligatorio
          </div>
        </div>

        <div class="btn-toolbar justify-content-between">
          <button type="submit" class="btn btn-success">Ingresar</button>
          <a href="#">Recordar clave</a>
        </div>
        
      </form>
    </div> 
  </div>     
</div>

<!-- Footer -->
<app-footer></app-footer>